.transitions-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.page-transition-enter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
}

.page-transition-enter-active {
  left: 0;
  transition: left 500ms ease-in-out;
}

.page-transition-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page-transition-exit-active {
  left: -100%;
  transition: left 500ms ease-in-out;
}

.page {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
